* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

button,
button:focus {
  outline: none;
}

.game {
  margin: auto;
  width: 800px;
  height: 500px;
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  position: relative;
}

.game__header {
  padding: 10px;
  text-align: center;
}

.game__play {
  margin: auto;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 30px;
  line-height: 50px;
  background-color: burlywood;
  text-align: center;
  margin-bottom: 10px;
  transition: transform 200ms ease-in;
}

.game__play:hover {
  transform: scale(1.1);
}

.game__time {
  margin: auto;
  width: 150px;
  border-radius: 10px;
  border: 3px solid black;
  background-color: white;
  font-size: 30px;
  margin-bottom: 10px;
}

.game__score {
  width: 50px;
  height: 50px;
  margin: auto;
  color: white;
  background-color: violet;
  border: 3px solid black;
  font-size: 30px;
  line-height: 40px;
  border-radius: 50%;
}

.main {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 240px;
  border: 4px dashed red;
}

.pop-up {
  display: block;
  background-color: #00000090;
  color: white;
  width: 500px;
  height: 150px;
  margin: auto;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  transform: translateY(-150%);
}

.pop-up--hide {
  display: none;
}

.pop-up__replay {
  margin: auto;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 30px;
  line-height: 50px;
  background-color: burlywood;
  text-align: center;
  margin-bottom: 10px;
  transition: transform 200ms ease-in;
}

.pop-up__replay:hover {
  transform: scale(1.1);
}

.pop-up__ending {
  font-size: 40px;
}
